/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #4d59db;
}
.container {
  position: relative;
  max-width: 1050px;
  min-width: 900px;
  height: auto;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;  
  font-weight: bolder;
}
.store_container {
  display: flex;
  position: relative;
  height: auto;
  background: #fff;
  border-radius: 8px;
  text-align: left;
}
.store_container * {
  left: -33%;
}

.info_container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  margin: 25px;
  border-radius: 8px;
}

.item_store {
  position: relative;  
  margin: 0 auto;
  width: 25%;
  background: #fff;
  padding: 25px;
  padding-left: 0;
  padding-bottom: 0;
  border-radius: 8px;  
}
.item_profile {
  display: inline-block;
  width: 18.5%;
  padding: 25px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 8px;
  background: #fff;
}
.item_admin {
  float: left;
  width: 50%;
  background: #fff;
  padding: 25px;
  padding-top: 80px;
  padding-bottom: 0;
  border-radius: 8px;
}

.item_btn {
  position: relative;  
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;  
}

.item_input {
  display: flex;  
  font-weight: bolder;
  height: 30px;
  justify-content: space-around;
}

.input {
  background-color: #e4e4e4;
  border: none;
  float: right; 
  width: 20%;
}

.button {
  float: right;  
  width: 150px;
  padding: 0;
  margin: -10px 5px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border: 0;
  border-radius: 5px;
  transition: all 0.2s ;
  background: #4d59db;
  text-decoration-line:none;
}

.button_product {
  display: block;
  position: relative;
  float: right;
  width: 100px;
  padding: 0;
  margin: 0 0 0 0;
  font-weight: 600;
  text-align: center;
  font-size: small;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  background: #4d59db;
  border: none;
  height: 35px;
  text-decoration-line:none;
}

.button:hover {
  background: #01939A;
}
.button_edit:hover {
  background: #01939A;
}
.button_product:hover {
  background: #01939A;
}

/*Table Style*/
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,td {
  padding: 6px 15px;
}
th {
  background: #4d59db;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}