/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #4d59db;
}
.container {
  position: relative;
  min-width: 800px;
  max-width: 1050px;
  height: auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.store_container {
  display: flex;
  position: relative;
  height: auto;
  background: #fff;
  border-radius: 8px;
  text-align: left;
}
.store_container * {
  left: -36%;
}

.info_container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  margin: 25px;
  margin-top: 0;
  border-radius: 8px;
}

.item_store {
  position: relative;  
  margin: 0 auto;
  width: 25%;
  background: #fff;
  padding: 25px;
  padding-bottom: 0;
  border-radius: 8px;  
}

.item_profile {
  margin-top: 25px;
  margin-bottom: 0;
  width: 22%;
  display: inline-block;
  border-radius: 8px;
  background: #fff;
}
.item_user {
  float: left;
  width: 50%;
  background: #fff;
  padding: 25px;
  padding-top: 80px;
  padding-bottom: 0;
  border-radius: 8px;
}
.item_receipt {
  width: 100%;
  float: left;
  background: #fff;
  padding: 0 20px 0 20px; 
  border-radius: 8px;  
}

.item_btn {
  position: relative;  
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;  
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: bolder;  
}

.button {
  float: right;  
  width: 150px;
  padding: 0;
  margin: -10px 15px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border: 0;
  border-radius: 5px;
  transition: all 0.2s ;
  background: #4d59db;
  text-decoration-line:none;
}

.button:hover {
  background: #01939A;
}
.button_edit:hover {
  background: #01939A;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}